@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* font-family: 'Poppins', sans-serif; */

:root{
    --background-color: #73b21a;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #fcfcfc;
    color: #0f1f1c
}
.none{
    display: none !important;
}
.container{
    max-width: 1366px;
    padding: 15px 15px;
    margin: 0 auto;
}
.container-hf{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
/* sale */
.sale{
    padding: 3px 0;
    color: #fcfcfc;
    background-color: #0f1f1c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sale a{
    color: #fcfcfc;
    transition: all 0.2s ease-in;
}
.sale a:hover{
    color: #73b21a;
}
/* header-top */

.header-top_row{
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top a{
    color: #0f1f1c;
}
.call{
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 5px;
    background-color: #fff;
    border-radius: 32px;
    padding: 5px 15px;
    width: 200px;
    font-weight: 600;
    box-shadow: 0px 4px 20px #c9c7c7;
    margin: 5px 0;
    border: 1px solid #0f1f1c;
    transition: all 0.5 ease-in-out;
}
.call img{
    width: 30px;
}
.call:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 20px #919191;
}
.social a{
    transition: 0.8s ease-in-out ;
}
.social a:hover{
    position: relative;
    bottom:4px;
}
.mail{
    text-align: end;
    margin-top: 5px;
}
/* nav */
.nav{
    background-color: var(--background-color);
    height: 60px;
    font-weight: 600;
}
.nav a{
    color: #0f1f1c;
    transition: all 0.3s ease-in-out;
}
.nav a:hover{
    color: #fff;
}
.nav-list{
    display: flex;
}
.nav-link{
    display: flex;
    align-items: center;
    padding: 0 40px;
    height: 60px;
    transition: all 0.3s ease-in-out;
}
.nav-link:hover{
    background-color: #0f1f1c;
}
/* main */

.main-wrapper{
    display: flex;
    column-gap: 15px;
    justify-content: space-between;
}

/* aside */
.aside{
    min-width: 275px;
    background-color: aqua;
    height: 500px;
}
.category{
    
}
.category-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
}
.category-link{
    width: 240px;
    height: 300px;
    background-color: rebeccapurple;
}